
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>City and Provinces</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <h2 class="text-primary font-weight-bolder " >City and Provinces</h2>

        <!-- Display City, Provinces, and Departs data -->
        <div id="cityTableContainer">
            @Html.Partial("city_province")
        </div>

        <div id="provincesTableContainer">

        </div>

        <div id="departsTableContainer">

        </div>

        <!-- Add buttons or links to perform CRUD operations -->

    </div>



</body>
</html>
